html
    head
        title Honeypot
        link(rel='stylesheet' href='./static/main.css')
    body
        main
            section#head Honeypots - List
            section#content
                h1 Honeypots
                a(href='./honeypots/add').add Add
                section.cardContainer
                    each hp in honeypots
                        .card
                            .info
                                h3= hp.name
                                sub= hp.url
                            .control
                                a(href='honeypot/' + hp.id).margin View
                                a(href='honeypot/' + hp.id + '/edit').margin Edit
                                a(href='honeypot/' + hp.id + '/delete') Delete
        