html
    head
        title Honeypot
        link(rel='stylesheet' href='/static/main.css')
        base(href='/honeypot/' + id)
    body
        main
            section#head Honeypots - List
            section#content
                a(href='/') Back
                if !notFound
                    h1 Honeypot - #{hp.name}
                    sub
                        a(href='./' + id + '/edit').margin Edit
                        a(href='./' + id + '/delete').margin Delete
                        a(href='./' + id + '/report').margin Report
                        a(href='./' + id + '/editReportHook') Report Hook
                        if !err
                            section.cardContainer
                                each service in services
                                    section.card    
                                        .status 
                                            h3= service.service
                                            sub Status: 
                                            if service.online
                                                sub.online Online
                                            else
                                                sub.offline Offline
                                        .control
                                            if !service.online
                                                a(href='./' + id + '/start/' + service.service) Start
                                            else
                                                a(href='./' + id + '/stop/' + service.service) Stop
                        else
                            h1= err
                            case err   
                                when 401
                                    h4  The service is unauthorized to access the honeypot. Please check the credentials 
                                        a(href='./' + id + '/edit') here
                                when 'DEPTH_ZERO_SELF_SIGNED_CERT'
                                    h4  The honeypot seems to use a self signed certificate. Your configuration does not allow that. You can change that  
                                        a(href='./' + id + '/edit') here
                                when 'ECONNREFUSED'
                                    h4  The honeypot has refused the connection or is offline. You may have misconfigured the address of the honeypot. You can edit the config  
                                        a(href='./' + id + '/edit') here
                                when 'ENOTFOUND'
                                    h4  No honeypot service found. You may have misconfigured the address of the honeypot. You can edit the config  
                                        a(href='./' + id + '/edit') here
                else    
                    h4 The requested honeypot wasn't found

                